body {
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

button {
    display: inline-block;
    margin: 10px;
    padding: 20px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0069d9;
}

.contenedor {
    display: flex;
    justify-content: center;
}   

